.filmPageOrder{
    width: 100%;
    .filmPageOrder__select {
        width: 130px;
        height: 40px;
        background-color: rgb(141, 167, 185);
        color: rgb(62, 1, 106);
        border: 0;
        border-radius: 10px;
        font-size: large;
        margin-left: 50px;
      }
}