
.films{
    margin-left: 14px;
    margin-top: 50px;
    display: flex;
    gap: 20px;
    overflow-x: auto;
    width: 97vw;

    &::-webkit-scrollbar{
        width: 0;
    }
}

.films > div {
    transform-origin: right top;
  }